.badge{
background-color: tomato;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color:white;
font-weight: 600;
}

.nav__badges{   
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 32px;
}